<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.26036.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>69</string>
	<key>UIAppFonts</key>
	<array>
		<string>Alice-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Newsreader36pt-Regular.ttf</string>
		<string>Newsreader36pt-Medium.ttf</string>
		<string>Newsreader14pt-Medium.ttf</string>
		<string>Newsreader36pt-Italic.ttf</string>
		<string>Newsreader14pt-Regular.ttf</string>
		<string>Newsreader14pt-Italic.ttf</string>
	</array>
</dict>
</plist>
